.yo_page_2 {
  width: 100%;
  position: relative;
  z-index: 4;
  min-height: 100vh;
  display: flex;
  background: #FF073A;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.yo_page_2_box {
  width: 100%;
  height: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yo_page_2_box .left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2vw;
  gap: 1vw;
}

.yo_page_2_box .left h1 {
  font-size: 5vw;
  width: 40%;
  white-space: normal;
  line-height: 1;
}

.yo_page_2_box .left li {
  list-style-type: none;
  font-size: 4vw;
  font-weight: 100;
  text-transform: uppercase;
}


.yo_page_2_box .left p {
  width: 75%;
  font-size: 1.7vw;
}



.yo_page_2_box .left .linktext {
  display: flex;
  gap: 0.5vw;
  width: 30%;
  align-items: center;
  justify-content: flex-start;
}

.yo_page_2_box .left .linktext #Ebene_8 {
  width: 4vw;
  height: 4vw;

}



.yo_page_2_box .right {
  width: 50%;
  height: 100%;
}

.yo_page_2_box .right .img_box {
  width: 100%;
  height: 100%;
}

.yo_page_2_box .right .img_box img {
  object-fit: fill;
}


/* __________yo_page_clyo_page_clyo_page_clyo_page_cl */



.yo_page_cl{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
.yo_page_cl .img_box{
  width: 100%;
  height: 100%;
  transform: translateX(-450vw) scale(7);
}

.yo_page_cl .img_box img{
  object-fit: fill;
}
